body{
  background-image: url(Materiale/background.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 15%;
  padding-left: 10%;
}

h1{
  color: rgba(0,221,0,255);
  font-style: normal;
  font-family: sans-serif;
}

.MainBox {
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 5px;

}

.LogoBox{
  text-align: center;
  padding-top: 50px;
}

.BookingBox {
  font-family: sans-serif;
  background-color: rgba(0,221,0,255);
  text-align:center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.SelectionBox{
  font-family: sans-serif;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.ScooterName{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.RectangleYellow{
  width:250px;
  height:20px;
  background-color: rgba(245,180,83,255);
  border-radius: 5px;
}

.RectangleGreen{
  width:400px;
  height:20px;
  background-color: rgba(30,195,30,255);
  border-radius: 5px;
}

.RectangleRed{
  width:100px;
  height:20px;
  background-color: rgba(190,65,65,255);
  border-radius: 5px;
}
